<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<!-- Title Options -->
	<category label="30001">
		<setting id="colors" type="bool" label="30250" default="true" />
		<setting id="dates" type="bool" label="30260" default="true" />
		<setting id="spoiler_free" type="bool" label="30270" default="true" />
	</category>
	<category label="30002">
		<setting id="matchup" type="bool" label="30200" default="true" />
		<setting id="event" type="bool" label="30210" default="true" />
		<setting id="round" type="bool" label="30240" default="true" />
		<setting id="nr_games" type="bool" label="30220" default="true" />
		<setting id="caster" type="bool" label="30230" default="true" />
	</category>
	<category label="30003">
		<setting id="track" type="bool" label="30300" default="true" />
		<setting label="30301" type="action" action="RunPlugin(plugin://plugin.video.sc2casts/?action=resetWatched)"/>
	</category>
</settings>
